.tab-navigation {
  .tabs-parnet {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .tabs-item {
      text-align: center;
      width: 100%;
      padding: 1rem;
      border-bottom: 3px solid rgba(120, 120, 120, 0.2);
      cursor: pointer;
      &.active {
        border-bottom: 3px solid #00de8e;
        transition: all .3s ease-in;
      }
    }
  }
}
